#root{
    text-align: left;
}
.img{
    background-image: url("https://assets.website-files.com/647859f16f67fe92cf10d8c2/647859f16f67fe92cf10d8f5_image%2034.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}